.not-found {
  margin: 250px auto;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    margin-left: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
  }
}
