<div class="item">
  <div class="item-container">
    <img class="item__preview" src="../../../assets/imgs/preview.png" alt="preview">
    <div class="item-stats">
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/views.svg" alt="views">
        <p class="item-stats-element__count">100</p>
      </div>
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/likes.svg" alt="views">
        <p class="item-stats-element__count">100</p>
      </div>
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/dislikes.svg" alt="views">
        <p class="item-stats-element__count">100</p>
      </div>
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/comments.svg" alt="views">
        <p class="item-stats-element__count">100</p>
      </div>
    </div>
    <h2 class="item__title">Kuji Podcast #21</h2>
    <a class="item__link" href="#">more...</a>
  </div>
</div>
