<div class="item" [appColorByDate] = "item.snippet.publishedAt">
  <div class="item-container">
    <img class="item__preview" src="{{ item.snippet.thumbnails.standard.url }}" alt="preview">
    <div class="item-stats">
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/views.svg" alt="views">
        <p class="item-stats-element__count">{{ item.statistics.viewCount }}</p>
      </div>
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/likes.svg" alt="likes">
        <p class="item-stats-element__count">{{ item.statistics.likeCount }}</p>
      </div>
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/dislikes.svg" alt="dislikes">
        <p class="item-stats-element__count">{{ item.statistics.dislikeCount }}</p>
      </div>
      <div class="item-stats-element">
        <img class="item-stats-element__icon" src="../../../assets/imgs/comments.svg" alt="comments">
        <p class="item-stats-element__count">{{ item.statistics.commentCount }}</p>
      </div>
    </div>
    <h2 class="item__title">{{ (item.snippet.title | slice:0:17) + '...' }}</h2>
    <a [routerLink]="['video', item.id]" class="item__link">more...</a>
  </div>
</div>
