.item {
  width: 263px;
  height: 327px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #2f80ed;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  &-container {
    width: 100%;
    height: 322px;
    padding: 20px 20px 10px 20px;
    background-color: #e5e5e5;
    border-radius: 5px 5px 0 0;
  }

  &__preview {
    width: 223px;
    height: 123px;
  }

  &-stats {
    max-width: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    &-element {
      display: flex;
      justify-content: space-between;

      &__count {
        margin-left: 3px;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
      }
    }
  }

  &__title {
    width: 200px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #4f4f4f;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0px auto;
    width: 120px;
    height: 32px;
    color: #FFFFFF;
    text-decoration: none;
    background: #2F80ED;
    box-shadow: 2px 0px 4px #2F80ED;
    border-radius: 5px;
  }
}
