.header {
  background-color: #e5e5e5;
  padding: 15px 156px;

  &-search {
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 500px) {
      padding: 15px 7px;
    }

    &-cover {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__user {
        position: absolute;
        right: 0px
      }
    }

    &__logo {
      width: 50px;
      height: 50px;
    }
  }

  &-form {
    margin: 0 10px;

    &__text {
      width: 27.5vw;
      height: 24px;
      padding: 3px 5px;
      background-color: #efefef;
      color: #333333;
      border: none;
    }

    &__submit {
      width: 80px;
      height: 24px;
      color: white;
      box-shadow: 2px 0px 4px #2f80ed;
      background: #2f80ed;
      border: none;
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
    }
  }

  &-settings {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #2f80ed;
    box-shadow: 2px 0px 4px #2f80ed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
