<header class="header">
  <div class="header-search">
    <div class="header-search-cover">
      <img class="header-search__logo" src="../../../assets/imgs/logo.png" alt="logo">
      <form class="header-form">
        <input [(ngModel)]="userQuestion" name="search_query" class="header-form__text" type="text" placeholder="Search" (ngModelChange)="this.request.next($event)">
      </form>
      <button class="header-settings" (click)="isSettingsOpened = !isSettingsOpened">
        <img class="header-settings__icon" src="../../../assets/imgs/header-settings-icon.svg" alt="icon">
      </button>
      <app-user class="header-search-cover__user"></app-user>
    </div>
  </div>
  <div class="header-sortOptions" *ngIf="isSettingsOpened">
    <app-sort-options></app-sort-options>
  </div>
</header>