.header {
  background-color: #e5e5e5;

  &-search {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px 10vw;

    @media screen and (max-width: 500px) {
      padding: 15px 7px;
    }

    &-cover {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      width: 50px;
      height: 50px;
    }
  }

  &-form {
    margin: 0 10px;

    &__text {
      width: 27.5vw;
      height: 24px;
      padding: 3px 5px;
      background-color: #efefef;
      color: #333333;
      border: none;
    }

    &__submit {
      width: 80px;
      height: 24px;
      color: white;
      box-shadow: 2px 0px 4px #2f80ed;
      background: #2f80ed;
      border: none;
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
    }
  }

  &-settings {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #2f80ed;
    box-shadow: 2px 0px 4px #2f80ed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &-user {
    width: fit-content;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
      width: max-content;
      margin-right: 8px;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      color: #4f4f4f;
    }
  }
}
